<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lab2_.Properties.Settings.ВыставкаNewConnectionString"
            connectionString="Data Source=DESKTOP-8SLTMHC\SQLEXPRESS;Initial Catalog=ВыставкаNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lab2_.Properties.Settings.ВыставкаConnectionString"
            connectionString="Data Source=DESKTOP-8SLTMHC\SQLEXPRESS;Initial Catalog=Выставка;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Lab2_.Properties.Settings>
            <setting name="FormPos" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </Lab2_.Properties.Settings>
    </userSettings>
</configuration>